<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml">
<div th:fragment="filter(addUrl, resetUrl, caption)" class="panel-heading">
    <div class="row caption">
        <h4 class="" th:text="${caption}"></h4>
    </div>
    <div class="row row-eq-height">
        <div th:if="${addUrl != null}" class="fixed-action-btn">
            <a th:href="@{${addUrl}}" class="btn btn-primary margin_left_15">
                <i class="fas fa-user-plus"></i>
            </a>
        </div>
        <div class="input-dataField col s8 no-padding">
            <input type="text" name="search" maxlength="20" class="form-control" placeholder="Поиск"
                   th:dataField="*{search}">
        </div>
        <div class="input-dataField col s4 filter-opts">
            <button id="submit-btn" type="submit" class="btn btn-primary">Поиск</button>
            <a th:href="@{${resetUrl}}" id="reset-btn" class="btn btn-danger">Сброс</a>
        </div>
    </div>

</div>
</html>