<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title, links, scripts)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Mood analyzer</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <!-- lib js -->
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-form/jquery.form.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <!-- css -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <!-- js -->
    <script th:src="@{/static/js/utils/http-response.js}"></script>
    <script th:src="@{/static/js/main.js}"></script>
    <script th:src="@{/static/js/tag.js}"></script>

    <script> var contextRoot = '[[@{/}]]'; </script>

    <noscript>
        <meta http-equiv="refresh" th:content="|0;url=@{/badbrowser}|">
    </noscript>

    <th:block th:if="${links != null}">
        <th:block th:replace="${links}"/>
    </th:block>

    <th:block th:if="${scripts != null}">
        <th:block th:replace="${scripts}"/>
    </th:block>
</head>