<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title>Список тєгов</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/filter.css}"/>

    <script th:src="@{/static/lib/floatThead/jquery.floatThead.min.js}"></script>
    <script th:src="@{/static/js/tag.js}"></script>
</head>
<body>
    <header th:replace="fragments/header :: header(users, admin)"></header>
    <div class="table-area">
        <table class="table table-striped table-bordered">
            <thead class="">
                <tr>
                    <th>ID</th>
                    <th>Имя тэга</th>
                    <th>Дата создания</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tag : ${page}">
                    <td th:text="${tag.id}"></td>
                    <td th:text="${tag.name}"></td>
                    <td th:text="${tag.getFormattedDate()}"></td>
                    <td style="width: 60px;">
                        <form th:action="${'/tags/' + tag.id}" method="DELETE" class="tag-delete-form">
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-eraser"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </thead>
        </table>
        <form id="tag-add-form" method="POST" action="/tags">
            <input type="text" class="input_add_tag" id="tag"  placeholder="Введите новый тэг" name="tags[0].name"/>
            <input type="text" class="input_add_tag" id="mark"  placeholder="Оцените свое настроение" name="mark"/>
            <button  class="btn btn-primary add_button" type="submit">Добавить</button >
        </form>
    </div>
</body>
</html>