<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title>Список тєгов</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/filter.css}"/>

    <script th:src="@{/static/lib/floatThead/jquery.floatThead.min.js}"></script>
    <script th:src="@{/static/js/tag.js}"></script>
</head>
<body>
    <header th:replace="fragments/header :: header(users, admin)"></header>
    <div class="table-area">
        <div id="container_for_form">
            <form id="tag-add-form" method="POST" action="/tags" style="display: flex; margin-bottom: 20px; justify-content: space-around;">
                <input type="text" class="input_add" id="tag"  placeholder="Введите новый тэг" name="tags[0].name" required/>
                <input type="number" class="input_add" id="mark"  placeholder="Оцените свое настроение" name="mark"/>
                <button  class="btn btn-primary" type="submit" id="action_button">Добавить</button >
            </form>

            <form id="tag-edit-form" method="PATCH" action="/tags" style="margin-bottom: 20px; justify-content: space-around;" class="display_none">
                <input type="text" class="input_add_tag" placeholder="Введите новый тэг" name="tags[0].name" required/>
                <input type="text" class="input_add" name="id" id="id_for_editing" style="display:none;"/>
                <button  class="btn btn-primary" type="submit"  id="action_button_edit">Изменить</button >
            </form>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="">
                <tr>
                    <th>ID</th>
                    <th>Имя тэга</th>
                    <th>Дата создания</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tag : ${page}">
                    <td th:text="${tag.id}"></td>
                    <td th:text="${tag.name}"></td>
                    <td th:text="${tag.getFormattedDate()}"></td>
                    <td style="width: 120px; text-align: center;">
                        <form th:action="${'/tags/' + tag.id}" method="DELETE" class="tag-delete-form">
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-eraser"></i>
                            </button>
                        </form>
                        <div class="btn btn-primary" onclick="return edit(this);" th:id="${tag.id}">
                            <i class="fas fa-edit"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </thead>
        </table>
    </div>
</body>
<script>
    function edit(element) {
        var button = document.getElementById("action_button");
        var id = element.id;
        if (button.textContent == "Добавить"){
                var temp = document.getElementById("id_for_editing");
                    temp.value = id;

                var edit_form = document.getElementById("tag-edit-form");
                var add_form = document.getElementById("tag-add-form");
                edit_form.classList.remove("display_none");
                edit_form.classList.add("display_flex");

                add_form.classList.remove("display_flex");
                add_form.classList.add("display_none");

                var button_edit = document.getElementById("action_button_edit");
                button_edit.classList.add("add_button");
        } else {
            var temp = document.getElementById("id_for_editing");
            temp.value = id;
        }
    }
<!--    function add(element) {-->
<!--        element.value = "Добавить";-->
<!--        element.removeAttribute("onclick");-->
<!--        element.addAttribute("onclick", "return edit(this);");-->
<!--        var input_mark = document.getElementById("mark");-->
<!--        var input_tag = document.getElementById("tag");-->
<!--        input_mark.style.display = "flex";-->
<!--    }-->
</script>
</html>